__pycache__/
*.pyc
*.db
*.sqlite3
.env
venv/
instance/
*.log
.DS_Store
node_modules/
www/
android/app/build/
android/build/
android/.gradle/
android/capacitor-cordova-android-plugins/
android/local.properties
android/keystore.properties
android/app/build/**/*.apk
*.keystore
*.jks
